</body>
The data used for this project belongs to Dan Jurafsky, Cristian Danescu-Niculescu-Mizil, and Tim Althoff. More info can be found <a href="http://cs.stanford.edu/~althoff/raop-dataset/">here</a>.
<p>
The dataset is released with the following paper:
<br>
How to Ask for a Favor: A Case Study on the Success of Altruistic Requests 
<br>
Tim Althoff, Cristian Danescu-Niculescu-Mizil, Dan Jurafsky
<br>
Proceedings of ICWSM, 2014.
<p>
Contact:
<br>
althoff@stanford.edu<br>
cristian@mpi-sws.org
</html>