body {
	text-align: center;
	font-family: georgia;
	color: #444440;
	font-size: 2.1em;
	background-color: #bcbbb7;
}

h1.bigheader {
	color: red;
	font-size: 70px;
}

strong {
	color: red;
}

h5 {
	font-size: 20px;
}

h2.title {

}

h2.subtitle {

}

div.container {

}

div.about {
	margin-left: 300px;
	margin-right: 300px;
	font-size: 18px;
}

input#search_bar {
  font-size: 2.3em;
  font-family: georgia;
  width: 50%;
  text-align: center;
  color: grey;
}

input#submit_button {
  width: 200px;
  color: grey;
}

div.mychart {

}

div.footer {

}