body {
	text-align: center;
	color: purple;
}

h1.bigheader {
	color: red;
	font-size: 60px;
}

h2.title {

}

h2.subtitle {

}

div.container {

}

div.about {
	
}

input#search_bar {

}

input#submit_button {
	
}

div.mychart {

}

div.footer {

}