<head>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond|Cinzel+Decorative:400,700|Raleway|Marta' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Who gets pizza?</title>
 </head>

<h1 class="bigheader">Who gets pizza?</h1>

<body>
<div class="container">
The query bar will go here.
</div>
<div class="about">
About this site: coming soon.
</div>
<footer class="footer">
</footer>
</html>
</body>