 {% include 'partials/header.html' %}

 <body>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["bar"]});
      google.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable(
          [['Bucket', 'Success', 'Fail'], ['0-10', 264, 1259], ['1000+', 54, 106], ['50-250', 446, 1155], ['10-50', 120, 279], ['250-1000', 513, 1475]]
        );

        var options = {
          height: 500,
          width: 900,
        };

      var chart = new google.charts.Bar(document.getElementById('mychart'));
      chart.draw(data, options);
    };
    </script>

    <div class="container">
    <h2 class="subtitle">REQUESTER'S ACCOUNT AGE</h2>
      <div id="mychart"></div>
    </div>

{% include 'partials/footer.html' %}