 {% include 'partials/header.html' %}

 <body>
  <script type="text/javascript">
    google.load("visualization", '1.1', {packages:['scatter']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
     var data = new google.visualization.DataTable();
      data.addColumn('Pizza Delivered?', 'Total Chars in Request Post');
      data.addRows(#CHART_DATA#);
      var options = {
        hAxis: {title: 'Pizza Delivered?', maxValue = 1, minValue = 0},
        vAxis: {title: 'Total Chars in Request Post', maxValue = 1000000000, minValue = 0},
        width: 800,
        height: 500,
        legend: { position: 'none' },
      };
      var chart = new google.charts.Scatter(document.getElementById('mychart'));
      chart.draw(data, google.charts.Scatter.convertOptions(options));
  }
  </script>

    <div class="container">
    <h2 class="subtitle">NUMBER OF CHARACTERS IN REQUEST POST</h2>
      <div class="mychart"></div>
    </div>

{% include 'partials/footer.html' %}