 {% include 'partials/header.html' %}

 <body>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["bar"]});
      google.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable(
          [['Bucket', 'Success', 'Fail'], ['200-500', 634, 1901], ['0-200', 254, 1405], ['500-1000', 509, 758], ['1000+', 122, 210]]
        );

        var options = {
          height: 500,
          width: 900,
        };

      var chart = new google.charts.Bar(document.getElementById('mychart'));
      chart.draw(data, options);
    };
    </script>

    <div class="container">
    <h2 class="subtitle">NUMBER OF CHARACTERS IN REQUEST POST</h2>
      <div id="mychart"></div>
    </div>

{% include 'partials/footer.html' %}