 {% include 'partials/header.html' %}

 <body>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(
        [['Success? Edited?', 'Num. Requesters', {role: "style"}], ['Success - Edited', 365, 'green'], ['Success - Unedited', 1032, 'green'], ['Fail - Edited', 564, 'red'], ['Fail - Unedited', 3710, 'red']]
      );

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        width: 1000,
        height: 500,
        legend: { position: "center" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById('mychart'));
      chart.draw(view, options);
  }
  </script>

    <div class="container">
    <h2 class="subtitle">WHETHER REQUEST POST WAS EDITED OR NOT</h2>
      <div id="mychart"></div>
    </div>

{% include 'partials/footer.html' %}