 {% include 'partials/header.html' %}

 <body>
  <script type="text/javascript">
    google.load("visualization", '1.1', {packages:['scatter']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = #CHART_DATA#;
      var datatable = google.visualization.arrayToDataTable(data);
      var options = {
        hAxis: {title: 'Rate', minValue: 'True', maxValue: 'False'},
        vAxis: {title: 'Value', minValue: 0, maxValue: 15},
        width: 800,
        height: 500,
        legend: { position: 'none' },
      };
      var chart = new google.visualization.ScatterChart(document.getElementById('mychart'));
      chart.draw(datatable, options);
  }
  </script>

    <div class="container">
    <h2 class="subtitle">WHETHER REQUEST POST WAS EDITED OR NOT</h2>
      <div class="mychart"></div>
    </div>

{% include 'partials/footer.html' %}