 {% include 'partials/header.html' %}

 <body>
  <script type="text/javascript">
    google.load("visualization", '1.1', {packages:['scatter']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('Pizza Delivered?', 'Requester Karma');
      data.addRows(#CHART_DATA#);
      var options = {
        hAxis: {title: 'Pizza Delivered?', maxValue = 1, minValue = 0},
        vAxis: {title: 'User Karma', maxValue = 200000, minValue = -200},
        width: 1250,
        height: 1000,
        legend: { position: 'none' },
      };
      var chart = new google.charts.Scatter(document.getElementById('mychart'));
      chart.draw(data, google.charts.Scatter.convertOptions(options));
  }
  </script>

    <div class="container">
    <h2 class="subtitle">REQUESTER'S TOTAL 'KARMA' AMOUNT</h2>
      <div class="mychart"></div>
    </div>

  {% include 'partials/footer.html' %}