 {% include 'partials/header.html' %}
<body>
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          #CHART_DATA#
        );
        var options = {
          width: 800,
          height: 800,
          curveType: 'function',
          legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('mychart'));
        chart.draw(data, options);
      }
    </script>

   <div class="container">
    <h2 class="subtitle">NUMBER OF VOTES ON REQUEST POST</h2>
      <div id="mychart"></div>
    </div>

    {% include 'partials/footer.html' %}